.ft-cont{
    display: flex;
    max-width: 80%;
    margin-inline: auto;
    justify-content: space-between;
    padding: 4.375em 0em;
}

.cnt-logo-ft img{
    max-width: 100%;
    display: block;
}
.ft-flex{
    display: flex;
    flex-direction: column;
}
.icon-ft-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2.875em;
}
.icon-ft{
    width: 3.125em;
    height: 3.125em;
    border-radius: 10px;
    background-color: #FFEC8599;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.icon-ft:hover{
    background-color: #FFCA61;
    transition: ease-in .3s;
}
/***bloque dos***/
.ft-an-flex{
    display: flex;
    flex-direction: row;
    gap: 3.75em;
}
.ft-ul{
    font-size: 1.25em;
    font-weight: 400;
    color: #CBCBCB;
    gap: 0.625em;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.ft-ul li{
    cursor: pointer;
}
.ft-ul li:hover{
    color:#FFCA61;
    transition: ease-in .3s;
}
.an-clr{
    color: #CBCBCB;
    text-decoration: none;
}
.an-bold{
    color: #383838;
    font-weight: 700;
    text-decoration: none;
}

@media (width < 576px) {
    .ft-cont{
        flex-direction: column;
        align-items: start;
        gap: 3.75em;
    }
    .ft-ul{
        font-size: 1em;
    }
  }

  @media (min-width: 576px) and (max-width: 767.99px){
    .ft-cont{
        flex-direction: column;
        align-items: start;
        gap: 3.75em;
    }
    .ft-ul{
        font-size: 1.1em;
    }
    
  }
  
  @media (min-width: 768px) and (max-width: 991.99px){
    .ft-cont{
        flex-direction: column;
        align-items: start;
        gap: 3.75em;
    }
    .ft-ul{
        font-size: 1.2em;
    }
  }
  
  
  @media (min-width: 992px) and (max-width: 1199.98px) { 
    .ft-cont{
        flex-direction: row;
        align-items: center;
        gap: 1.875em;
    }
    .ft-ul{
        font-size: 1.2em;
    }

  }
  @media (min-width: 1200px) and (max-width: 1399.99px) { 
    .ft-cont{
        flex-direction: row;
        align-items: center;
        gap: 1.875em;
    }
    .ft-ul{
        font-size: 1.25em;
    }
  }

  @media (width > 1400px){
    .ft-cont{
        flex-direction: row;
        align-items: center;
        gap: 1.875em;
    }
    .ft-ul{
        font-size: 1.25em;
    }
  }