.card-acc{
    height: 5em;
}
.bg-fq{
    background-color: #FFEC8599;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 43.75em;
    width: 100%;
    margin-inline: auto;
}

.faqs-flex{
    display: flex;
    justify-content: center;
    align-items: flex-center;
    flex-direction: column;
}

.accordion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    max-width: 30em;
    margin-inline: auto;
}
.accordion h2{
    color: #383838;    
    font-weight: 700;
}

.card-acc{
    color: #383838;
    font-weight: 700;
}

.prg-acc{
    font-weight: 400;
    color:#B6B6B6;
}

.cat-img{
    display: none;
}
.accordion h2{
    font-size: 2.5em;
}
.card-acc, .prg-acc {
    font-size: 1em;
}

@media (width < 576px) {
    .accordion h2{
        font-size: 1.8em;
    }
    .card-acc , .prg-acc{
        font-size: 0.8em;
    }
  }

  @media (min-width: 576px) and (max-width: 767.99px){
    .accordion h2{
        font-size: 2.3em;
    }
    .card-acc ,.prg-acc{
        font-size: 0.8em;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.99px){
    .accordion h2{
        font-size: 2.4em;
    }
    .card-acc , .prg-acc{
        font-size: 0.9em;
    }
  }
  

  @media (min-width: 1200px) and (max-width: 1399.98px) {
    .faqs-flex{
        flex-direction: row;
        align-items: flex-start;
        gap: 1em;
    }
    .cat-img{
        display: block;
        max-width: 70%;
    }
    .cat-cnt{
        display: flex;
        justify-content: flex-end;
    }
  }
  @media (width > 1400px){
    .faqs-flex{
        flex-direction: row;
        align-items: flex-start;
        gap: 1em;
    }
    .cat-img{
        display: block;
        max-width: 70%;
    }
    .cat-cnt{
        display: flex;
        justify-content: flex-end;
    }
  }