.bg-fq{
    background-color: #FFEC8599;
    height: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faqs-flex{
    display: flex;
    justify-content: center;
    align-items: flex-center;
    flex-direction: column;
}
.accordion-flex{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.accordion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    height: auto;
}
.accordion h2{
    color: #383838;    
    font-weight: 700;
}

.card-acc-flex{
    display: flex;
    flex-direction: column;
    background-color: #FFFEF8;
    border-radius: 20px;
    box-shadow: 0px 4px 16px 0px #0000000F;
    max-width: 100%;
}
.card-acc{
    width: 93%;
    height: 13.17vh;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
   
}
.card-acc p{
    color: #383838;
    font-weight: 700;
}
.card-acc img:hover{
    cursor: pointer;
}
.cnt-ques{
    width: 60vw;
}
.prg-acc{
    font-weight: 400;
    color:#B6B6B6;
    line-height: 24.55px;
    padding: 20px;
    width: 100%;
}

.cat-img{
    display: none;
}

@media (width < 576px) {
    .accordion h2{
        font-size: 2.4em;
    }
    .card-acc p{
        font-size: 0.9em;
    }
    .prg-acc{
        font-size: 0.8em;
    }
  }

  @media (min-width: 576px) and (max-width: 767.99px){
    .accordion h2{
        font-size: 2.6em;
    }
    .card-acc p{
        font-size: 1em;
    }
    .prg-acc{
        font-size: 1em;
    } 
  }
  
  @media (min-width: 768px) and (max-width: 991.99px){
    .accordion h2{
        font-size: 2.6em;
    }
    .card-acc p{
        font-size: 1.2em;
    }
    .prg-acc{
        font-size: 1em;
    }
  }
  
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .accordion h2{
        font-size: 2.8em;
    }
    .card-acc p{
        font-size: 1.25em;
    }
    .prg-acc{
        font-size: 1.025em;
    }
  }

  @media (width > 1200px){
    
    .faqs-flex{
        flex-direction: row;
        align-items: flex-start;
        gap: 40px;
    }
    .cat-img{
        display: flex;
        width: 70%;
    }
    .cat-cnt{
        display: flex;
        justify-content: center;
    }
    .accordion h2{
        font-size: 3em;
    }
    .card-acc p{
        font-size: 1.25em;
    }
    .prg-acc{
        font-size: 1.125em;
    }
  }