.bg-fq{
 background-color: #FFEC8599;
 height: auto;
 padding: 80px;
}
.faqs-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}
.accordion-flex{
    display: flex;
    flex-direction: column;
    gap:25px;
}
.accordion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:40px;
    height: auto;
   
}
.accordion h2{
    color: #383838;
    font-size: 48px;
    font-weight: 700;
}
.card-acc-flex{
    display: flex;
    flex-direction: column;
    background-color: #FFFEF8;
    border-radius: 20px;
}
.card-acc{
    width: 630px;
    height: 83px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    box-shadow: 0px 4px 16px 0px #0000000F;
}
.card-acc p{
    font-size: 20px;
    color: #383838;
    font-weight: 700;
}
.card-acc img:hover{
    cursor: pointer;
}
.cat-img{
    display: flex;
}
.prg-acc{
    font-size: 18px;
    font-weight: 400;
    color:#B6B6B6;
    width: 628px;
    line-height: 24.55px;
    padding: 20px;
   
}
