/***Header***/

.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    margin-inline: auto;
    align-items: center;
    min-height: 45rem;
  }
  .hr-lf{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
  }
  .hr-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .hr-text h1{
    font-weight: 900;
    color: var(--black);
    margin: 0;
  }
  .hr-text span{
    color: var(--accent);
  }
  .hr-text p{
    font-weight: 400;
    color: #1E1E1E;
    width: 100%; 
  }
  .pos-btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .input-cnt{
    border-radius: 30px;
    box-shadow: 0px 4px 20px 0px #00000040;
    position: absolute;
    padding: 1.1em;
    width: 95%;
  }

  .input{
    color: var(--black);
    font-weight: 400;
    border: none;
    outline: none;
  }
  .btn-ip{
    padding: 1.1em;
    border-radius: 30px;
    background-color: var(--accent);
    color: #1E1E1E;
    font-weight: 700;
    border: none;
    position: relative;
    left: 70%;
  }
  .google-btn img{
    max-width: 100%;
    display:block;
  }
  .google-btn:hover{
    cursor: pointer;
  }
  .hr-rg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
  }
  .hr-rg img{
    max-width: 90%;
    height: auto;
  }
  
  @media (width < 576px) {
    .hr-rg{
      display: none;
    }
    .hr-text h1{
      font-size: 2.2em;
    }
    .hr-text p{
       font-size: 0.8em;
    }
    .input, .btn-ip{
      font-size: 0.8em;
    }
    .input-cnt{
      padding: 0.6em;
    }
    .header{
      min-height: 32rem;
    }
  }

  @media (min-width: 576px) and (max-width: 767.99px){
    .hr-rg{
      display: none;
    }
    .hr-text h1{
      font-size: 2.6em;
    }
    .hr-text p{
       font-size: 0.9em;
    }
    .input, .btn-ip{
      font-size: 1.05em;
    }
    .input-cnt{
      padding: 1em;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.99px){
    .hr-rg{
      display: none;
    }
    .hr-text h1{
      font-size: 3.5em;
    }
    .hr-text p{
       font-size: 1.2em;
    }
    .input, .btn-ip{
      font-size: 1.2em;
    }
  }
  
  
  @media (min-width: 992px) and (max-width: 1199.99px) { 
   .hr-rg{
    display: none;
    }
    .hr-text h1{
      font-size: 3.375em;
    }
    .hr-text p{
       font-size: 1.2em;
    }
    .input, .btn-ip{
      font-size: 1.2em;
    }
  }
  @media (min-width: 1200px) and (max-width: 1399.99px) { 
    .header{
      flex-direction: row;
      justify-content: space-between;
    }
    .hr-text h1{
      font-size: 3.375em;
    }
    .hr-text p{
       font-size: 1.2em;
    }
    .input, .btn-ip{
      font-size: 1.20em;
    }
   }

  @media (width > 1400px){
    .header{
      flex-direction: row;
      justify-content: space-between;
    }
    .hr-text h1{
      font-size: 4.375em;
    }
    .hr-text p{
       font-size: 1.5em;
    }
    .input, .btn-ip{
      font-size: 1.25em;
    }
  }
    