  /**modal*/
  .mw {
    max-width: 37.75em;
    display: block;
    margin-inline: auto;
  }
  .tarjeta {
    background-color: #FDFDFD;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    gap: 0.5em;
    height: 90vh;
  }

  .title-tarj {
    color: #1E1E1E;
    font-weight: 700;
  }
  .cerrar {
    font-weight: 700;
    cursor: pointer;
    color:#1E1E1E;
  }
  .btn-google {
    padding: 0.8em;
    border: 1px solid #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    max-width: 35.25em;
    border-radius: 10px;
    cursor: pointer;
  }
  .btn-google p {
    color: #1E1E1E;
    font-weight: 700;
  }
  .hr-st {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .hr-st hr {
    max-width: 17.8125em;
    color: #C4C4C4;
    opacity: 0.4;
  }
  .hr-st span {
    color:#C4C4C4;
  }
  .cnt-input {
    max-width: 34em;
    min-height: 2.75em;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    gap: 0.875em;
    padding: 0px 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .cnt-input input {
    outline: none;
    border: none;
  }
  .span-cont {
    font-weight: 400;
    display: flex;
    justify-content: start;
    color: #FFCA61;
    max-width: 35.25em;
    cursor: pointer;
  }
  
  .btn-rgs {
    background-color: #FFCA61;
    min-height: 3em;
    padding: 1em 1.4em;
    border-radius: 30px;
    color: #383838;
    font-weight: 700;
    border: none;
    cursor: pointer;
  }
  
  .color-p-span {
    color: #383838;
    font-weight: 700;
  }
  .color-p-span span {
    color: #FFCA61;
    cursor:pointer;
  }
  .error { 
    color:red;
  }


  @media (width < 576px) {
    
  }

  @media (min-width: 576px) and (max-width: 767.99px){
    
  }
  
  @media (min-width: 768px) and (max-width: 991.99px){
    
  }
  

  @media (min-width: 1200px) and (max-width: 1399.98px) {
    
  }
  @media (width > 1400px){
    .title-tarj{
      font-size: 1.775em;
    }
    .btn-google p , .hr-st span{
      font-size: 1.1em;
    }
    .cnt-input input, .btn-rgs{
      font-size: 1.125em;
    }
    .span-cont, .color-p-span{
      font-size: 1em;
    }
    .error{
      font-size: 0.75em;
    }
  }