/**Nav*/
.cnt-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 6.125rem;
    border-bottom: 1px solid #EDEDED;
    justify-content: space-between;
    width: 80%;
    margin-inline: auto;
  }
  .ul-flex {
    flex-direction: row;
    gap: 3.125em;
    list-style-type: none;
  }
  .ul-flex li, .cnt-flex p, .cnt-flex button{
    color: var(--black);
    font-weight: 700;
    font-size: 1.25em;
  }
  .ul-flex a{
    text-decoration: none;
  }
  .logo{
    max-width: 100%;
    display: block;
  }
  .cnt-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625em;
    list-style-type: none;
  }
  .cnt-flex a{
    text-decoration: none;
  }
  .cnt-flex button{
    padding: 1em;
    border-radius: 30px;
    background-color: var(--accent);
    border: none;
  }
  .cnt-flex button:hover , .btn-ip:hover, .arrow-btn:hover{
    background-color: #FFEC85;
    cursor: pointer;
    transition: ease-in .2s;
  }
  .cnt-flex p:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: .3s ease;
  }

  @media (width < 576px) {
    .ul-flex {
      display:none;
    }
    .ul-flex li, .cnt-flex p, .cnt-flex button{
      font-size: 0.9em;
    }
  }

  @media (min-width: 576px) and (max-width: 767.99px){
    .ul-flex {
      display:none;
    }
    .ul-flex li, .cnt-flex p, .cnt-flex button{
      font-size: 1em;
    } 
  }
  
  @media (min-width: 768px) and (max-width: 991.99px){
    .ul-flex {
      display:none;
    }
    .ul-flex li, .cnt-flex p, .cnt-flex button{
      font-size: 1em;
    }
  }
  
  
  @media (min-width: 992px) and (max-width: 1199.98px) { 
    .ul-flex {
      gap: 20px;
      display:flex;
    }
    .ul-flex li, .cnt-flex p, .cnt-flex button{
      font-size: 1.15em;
    }
  }
  @media (min-width: 1200px) and (max-width: 1399.98px) { 
    .ul-flex {
      gap: 20px;
      display:flex;
    }
    .ul-flex li, .cnt-flex p, .cnt-flex button{
      font-size: 1.15em;
    }
  }

  @media (width > 1400px){
    .ul-flex {
      gap: 50px;
      display: flex;
    }
    .ul-flex li, .cnt-flex p, .cnt-flex button{
      font-size: 1.25em;
    }   
  }
    