.section-3{
    display: flex;
    min-height:  51.875em;
    justify-content: space-evenly;
    width: 100%;
}
.img-como{
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.img-como img{
    max-width: 90%;
    display: block;
}
.box-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.box-text h2{
    color:#1E1E1E;
    font-weight: 700;
    margin: 0;
}

.items-flex{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.item-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.item-circle{
    width: 3.125em;
    height: 3.125em;
    border-radius: 50px;
    background-color:#FFFEF8; 
    box-shadow: 0px 4px 16px 0px #00000029;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-paragraph{
    font-weight: 400;
    color:#1E1E1E;
}
.sct-3-btn{
    color:#FFFEF8;
    font-weight: 700;
    background-color: #FFCA61;
    padding: 0.6em 1em;
    border-radius: 30px;
    border: none;
}
.sct-3-btn:hover{
    background-color: #FFEC85;
    transition: ease-in .2s;
    cursor: pointer;
}
@media (width < 576px) {
    .section-3{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-como{
        display: none;
    }
    .box-text h2{
        font-size: 1.5em;
    }
    .item-paragraph{
        font-size: 1em;
    }
    .sct-3-btn{
        font-size: 1em;
    }
    .items-flex{
        gap:1.2em;
    }
  }

  @media (min-width: 576px) and (max-width: 767.99px){
    .section-3{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-como{
        display: none;
    }
    .box-text h2{
        font-size: 2.325em;
    }
    .item-paragraph{
        font-size: 1.2em;
    }
    .sct-3-btn{
        font-size: 1.2em;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.99px){
    .section-3{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-como{
        display: none;
    }
    .box-text h2{
        font-size: 2.425em;
    }
    .item-paragraph{
        font-size: 1.3em;
    }
    .sct-3-btn{
        font-size: 1.3em;
    }
  }
  
  
  @media (min-width: 992px) and (max-width: 1199.98px) { 
    .section-3{
        flex-direction: row;
    }
    .img-como{
        display: flex;
    }
    .box-text h2{
        font-size: 1.8em;
    }
    .item-paragraph{
        font-size: 1.1em;
    }
    .sct-3-btn{
        font-size: 1.1em;
    }
  }
  @media (min-width: 1200px) and (max-width: 1399.99px) { 
    .section-3{
        flex-direction: row;
    }
    .img-como{
        display: flex;
    }
    .box-text h2{
        font-size: 2em;
    }
    .item-paragraph{
        font-size: 1.3em;
    }
    .sct-3-btn{
        font-size: 1.2em;
    }
  }

  @media (width > 1400px){
    .section-3{
        flex-direction: row;
    }
    .img-como{
        display: flex;
    }
    .box-text h2{
        font-size: 2.525em;
    }
    .item-paragraph{
        font-size: 1.5em;
    }
    .sct-3-btn{
        font-size: 1.5em;
    }
  }
    