.section-3{
    display: flex;
    padding: 102px 0px;
    justify-content: space-between;
    width: 95%;
    gap: 5%;
}
.img-como{
    max-width: 100%; 
    height: auto; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.img-como img{
    max-width: 100%;
    height: auto;
}
.box-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}

.box-text h2{
    color:#1E1E1E;
    font-weight: 700;
    margin: 0;
}

.items-flex{
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.item-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.item-circle{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color:#FFFEF8; 
    box-shadow: 0px 4px 16px 0px #00000029;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-paragraph{
    font-weight: 400;
    color:#1E1E1E;
}
.sct-3-btn{
    color:#FFFEF8;
    font-weight: 700;
    background-color: #FFCA61;
    padding: 16px 24px;
    border-radius: 30px;
    border: none;
}
.sct-3-btn:hover{
    background-color: #FFEC85;
    transition: ease-in .2s;
    cursor: pointer;
}
@media (width < 576px) {
    .section-3{
        flex-direction: column;
        align-items: center;
    }
    .img-como{
        display: none;
    }
    .box-text h2{
        font-size: 2.125em;
    }
    .item-paragraph{
        font-size: 1.1em;
    }
    .sct-3-btn{
        font-size: 1em;
    }
  }

  @media (min-width: 576px) and (max-width: 767.99px){
    .section-3{
        flex-direction: column;
        align-items: center;
    }
    .img-como{
        display: none;
    }
    .box-text h2{
        font-size: 2.325em;
    }
    .item-paragraph{
        font-size: 1.2em;
    }
    .sct-3-btn{
        font-size: 1.2em;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.99px){
    .section-3{
        flex-direction: column;
        align-items: center;
    }
    .img-como{
        display: none;
    }
    .box-text h2{
        font-size: 2.425em;
    }
    .item-paragraph{
        font-size: 1.3em;
    }
    .sct-3-btn{
        font-size: 1.3em;
    }
  }
  
  
  @media (min-width: 992px) and (max-width: 1199.98px) { 
    .section-3{
        flex-direction: column;
        align-items: center;
    }
    .img-como{
        display: none;
    }
    .box-text h2{
        font-size: 2.525em;
    }
    .item-paragraph{
        font-size: 1.4em;
    }
    .sct-3-btn{
        font-size: 1.4em;
    }
    
  }

  @media (width > 1200px){
    .section-3{
        flex-direction: row;
    }
    .img-como{
        display: flex;
    }
    .box-text h2{
        font-size: 2.525em;
    }
    .item-paragraph{
        font-size: 1.5em;
    }
    .sct-3-btn{
        font-size: 1.5em;
    }
    
  }
    