#root {
  /*colors*/
  --accent: #FFCA61;
  --white: #FFFFFF;
  --black: #383838;
}

.cnt-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 98px;
  justify-content: space-evenly;
}
.ul-flex {
  display: flex;
  flex-direction: row;
  gap:50px;
}
.ul-flex li, .cnt-flex p, .cnt-flex button{
  color:var(--black);
  font-weight: 700;
  font-size: 20px;
}
.cnt-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10px;
}
.cnt-flex button{
  padding: 10px 24px;
  border-radius: 30px;
  background-color: var(--accent);
  border: none;
  cursor: pointer;
}