#root {
  margin: 0 auto;
  padding: 1rem;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  background-color: #FDFDFD;
  scroll-behavior: smooth;
  
  /*colors*/
  --accent: #FFCA61;
  --primary: #FFCA61;
  --white: #FFFFFF;
  --black: #383838;
}
html {
  max-width: 90%;
  margin-inline: auto;
}

